<div class="flex gap-10 justify-center text-slate-500 text-center">

    <div class="pt-[20px]">

        <a  href="/apps/hangman/shop/skins">

            <div class="border-solid border-2  border-slate-500 rounded-lg bg-slate-200 mt-10 w-[250px] h-[60px]  shadow-[rgba(0,0,15,0.35)_8px_8px_6px_0px] duration-100 hover:shadow-[rgba(0,0,15,0.35)_6px_6px_6px_0px] hover:translate-y-0.5 hover:translate-x-0.5 ">
    
                <div class="text-3xl mt-2 font-bold">Skins</div>    
    
            </div>

        </a>
        
    </div>

    <div class="pt-[20px]">

        <a  href="/apps/hangman/shop/hats">

            <div class="border-solid border-2 border-slate-500 rounded-lg bg-slate-200 mt-10 w-[250px] h-[60px] shadow-[rgba(0,0,15,0.35)_8px_8px_6px_0px] duration-100 hover:shadow-[rgba(0,0,15,0.35)_6px_6px_6px_0px] hover:translate-y-0.5 hover:translate-x-0.5">
    
                <div class="text-3xl mt-2 font-bold">Hats</div>
            
            </div>

        </a>
        
    </div>

    <div class="pt-[20px]">

        <a  href="/apps/hangman/shop/themes">

            <div class="border-solid border-2 border-slate-500 rounded-lg bg-slate-200 mt-10 w-[250px] h-[60px] shadow-[rgba(0,0,15,0.35)_8px_8px_6px_0px] duration-100 hover:shadow-[rgba(0,0,15,0.35)_6px_6px_6px_0px] hover:translate-y-0.5 hover:translate-x-0.5">  
        
                <div class="text-3xl mt-2 font-bold">Themes</div>
    
            </div>
            
        </a>

    </div>

</div>

<div class="flex justify-center text-slate-500 ">

    <div class="border-2 border-slate-500 rounded-3xl bg-slate-200 w-[1200px] h-[580px] mt-10">

        <div class="text-4xl text-center text-center my-10">

            Hey there, 

            <span class="before:block before:absolute before:-inset-1 before:-skew-y-[-1.5deg] before:bg-slate-500 relative inline-block">

                <span class="relative text-slate-200 font-bold italic"> <TMPL_VAR NAME="USERNAME"> </span>

            </span>
            
            ! <br> <br>
            Welcome to the shop where the only thing limitless <br> 
            is your imagination (and maybe your coin balance, too). <br>
            Take your time, explore the shelves, <br> 
            and let me know what catches your eye. <br> <br>
            <span class="font-bold"> Enjoy shopping! </span> 


        </div>

        <div class="text-5xl font-bold text-center mt-28">

            <TMPL_VAR NAME="COINS"> <i class="fa-solid fa-coins text-yellow-400"></i>

        </div>

    </div>

</div>