<div id="site0" class="bg-[rgba(0,0,0,0.6)] w-full h-full absolute top-0 flex justify-center items-center">

    <div class="w-[600px] h-[360px] text-center relative">

        <div class="text-5xl text-white font-bold">

            <span class="before:block before:absolute before:-inset-1 before:-skew-y-[-1.5deg] before:bg-slate-200 relative inline-block">
                <span class="relative text-slate-500 font-bold italic"> 
                    WELCOME TO THE TUTORIAL!
                </span>
            </span>

        </div>

        <div class="pt-10 w-full">

            <div class="pt-6 flex justify-center font-normal">
                
                <a class="border-solid border-2 border-slate-500 text-slate-200 rounded-lg bg-slate-500 text-2xl text-center w-1/3 h-10 shadow-[rgba(0,0,15,0.35)_8px_8px_6px_0px] duration-100 hover:shadow-[rgba(0,0,15,0.35)_6px_6px_6px_0px] hover:translate-y-0.5 hover:translate-x-0.5" href="/apps/hangman/">

                    Skip

                </a>

                <div class="w-1/6"></div>

                <div id="next" class="cursor-pointer border-solid border-2 border-slate-500 rounded-lg bg-slate-200 text-2xl text-center w-1/3 h-10 shadow-[rgba(0,0,15,0.35)_8px_8px_6px_0px] duration-100 hover:shadow-[rgba(0,0,15,0.35)_6px_6px_6px_0px] hover:translate-y-0.5 hover:translate-x-0.5">

                    Next <i class="fa fa-arrow-right" aria-hidden="true"></i>

                </div>

            </div>

        </div>

    </div>

</div>

<div id="site1" class="hidden bg-[rgba(0,0,0,0.6)] w-full h-full absolute top-0">

    <div class="top-10 left-64 w-[450px] h-[280px] bg-white rounded-2xl text-center relative">

        <div class="absolute w-10 h-10 top-2 right-2 text-2xl italic text-xl font-normal">

            1/6

        </div>

        <div class="text-4xl font-bold">

            <span class="before:block before:absolute before:-inset-2 before:-skew-y-[-1.5deg] before:bg-slate-500 relative inline-block">
                <span class="relative text-slate-200 font-bold italic"> 
                    PROFILE!
                </span>
            </span>

        </div>

        <div class="pt-10 text-2xl">

            Place where you can see your game <span class="font-bold">statistics</span>, your <span class="font-bold">coin</span> balanace, and how many <span class="font-bold">skins</span>, <span class="font-bold">hats</span> and <span class="font-bold">themes</span> you own!
        
        </div>

        <div class="pt-10 w-full">

            <div class="flex justify-center font-normal">
                
                <a class="border-solid border-2 border-slate-500 text-slate-200 rounded-lg bg-slate-500 text-2xl text-center w-1/3 h-10 shadow-[rgba(0,0,15,0.35)_8px_8px_6px_0px] duration-100 hover:shadow-[rgba(0,0,15,0.35)_6px_6px_6px_0px] hover:translate-y-0.5 hover:translate-x-0.5" href="/apps/hangman/">

                    Skip

                </a>

                <div class="w-1/6"></div>

                <div id="next" class="cursor-pointer border-solid border-2 border-slate-500 rounded-lg bg-slate-200 text-2xl text-center w-1/3 h-10 shadow-[rgba(0,0,15,0.35)_8px_8px_6px_0px] duration-100 hover:shadow-[rgba(0,0,15,0.35)_6px_6px_6px_0px] hover:translate-y-0.5 hover:translate-x-0.5">

                    Next <i class="fa fa-arrow-right" aria-hidden="true"></i>

                </div>

            </div>

        </div>
    
    </div>

    <div class="top-10 left-44 text-8xl -rotate-[20deg] absolute text-white">
        
        <i class="fa fa-arrow-left-long" aria-hidden="true"></i>

    </div>

</div>

<div id="site2" class="hidden bg-[rgba(0,0,0,0.6)] w-full h-full absolute top-0">

    <div class="ml-14 bottom-48 left-96 w-[450px] h-[280px] bg-white rounded-2xl text-center absolute">

        <div class="absolute w-10 h-10 top-2 right-2 text-2xl italic text-xl font-normal">

            2/6

        </div>

        <div class="text-4xl font-bold">

            <span class="before:block before:absolute before:-inset-2 before:-skew-y-[-1.5deg] before:bg-slate-500 relative inline-block">
                <span class="relative text-slate-200 font-bold italic"> 
                    LEADERBOARD!
                </span>
            </span>

        </div>

        <div class="pt-10 text-2xl">

            Place where you can see the <span class="font-bold">top 3</span> <br> players. Click on a <span class="font-bold">Username</span> to see <br> a detailed <span class="font-bold">statistics</span>!
        
        </div>

        <div class="pt-10 w-full">

            <div class="flex justify-center font-normal">
                
                <a class="border-solid border-2 border-slate-500 text-slate-200 rounded-lg bg-slate-500 text-2xl text-center w-1/3 h-10 shadow-[rgba(0,0,15,0.35)_8px_8px_6px_0px] duration-100 hover:shadow-[rgba(0,0,15,0.35)_6px_6px_6px_0px] hover:translate-y-0.5 hover:translate-x-0.5" href="/apps/hangman/">

                    Skip

                </a>

                <div class="w-1/6"></div>

                <div id="next" class="cursor-pointer border-solid border-2 border-slate-500 rounded-lg bg-slate-200 text-2xl text-center w-1/3 h-10 shadow-[rgba(0,0,15,0.35)_8px_8px_6px_0px] duration-100 hover:shadow-[rgba(0,0,15,0.35)_6px_6px_6px_0px] hover:translate-y-0.5 hover:translate-x-0.5">

                    Next <i class="fa fa-arrow-right" aria-hidden="true"></i>

                </div>

            </div>

        </div>
    
    </div>

    <div class="bottom-28 right-1/2 text-8xl -rotate-[110deg] absolute text-white">
        
        <i class="fa fa-arrow-left-long" aria-hidden="true"></i>

    </div>

</div>

<div id="site3" class="hidden bg-[rgba(0,0,0,0.6)] w-full h-full absolute top-0">

    <div class="ml-20 bottom-48 left-80 w-[450px] h-[248px] bg-white rounded-2xl text-center absolute">

        <div class="absolute w-10 h-10 top-2 right-2 text-2xl italic text-xl font-normal">

            3/6

        </div>

        <div class="text-4xl font-bold">

            <span class="before:block before:absolute before:-inset-2 before:-skew-y-[-1.5deg] before:bg-slate-500 relative inline-block">
                <span class="relative text-slate-200 font-bold italic"> 
                    SHOP!
                </span>
            </span>

        </div>

        <div class="pt-10 text-2xl">

            Place where you can <span class="font-bold">buy</span> <span class="font-bold">skins</span>, <span class="font-bold">hats</span> and <span class="font-bold">themes</span> if you have enough <span class="font-bold">coins</span>!
        
        </div>

        <div class="pt-10 w-full">

            <div class="flex justify-center font-normal">
                
                <a class="border-solid border-2 border-slate-500 text-slate-200 rounded-lg bg-slate-500 text-2xl text-center w-1/3 h-10 shadow-[rgba(0,0,15,0.35)_8px_8px_6px_0px] duration-100 hover:shadow-[rgba(0,0,15,0.35)_6px_6px_6px_0px] hover:translate-y-0.5 hover:translate-x-0.5" href="/apps/hangman/">

                    Skip

                </a>

                <div class="w-1/6"></div>

                <div id="next" class="cursor-pointer border-solid border-2 border-slate-500 rounded-lg bg-slate-200 text-2xl text-center w-1/3 h-10 shadow-[rgba(0,0,15,0.35)_8px_8px_6px_0px] duration-100 hover:shadow-[rgba(0,0,15,0.35)_6px_6px_6px_0px] hover:translate-y-0.5 hover:translate-x-0.5">

                    Next <i class="fa fa-arrow-right" aria-hidden="true"></i>

                </div>

            </div>

        </div>
    
    </div>

    <div class="bottom-1/3 right-1/2 text-8xl rotate-[150deg] absolute text-white">
        
        <i class="fa fa-arrow-left-long" aria-hidden="true"></i>

    </div>

</div>

<div id="site4" class="hidden bg-[rgba(0,0,0,0.6)] w-full h-full absolute top-0">

    <div class="ml-20 mb-20 bottom-48 left-80 w-[450px] h-[248px] bg-white rounded-2xl text-center absolute">

        <div class="absolute w-10 h-10 top-2 right-2 text-2xl italic text-xl font-normal">

            4/6

        </div>

        <div class="text-4xl font-bold">

            <span class="before:block before:absolute before:-inset-2 before:-skew-y-[-1.5deg] before:bg-slate-500 relative inline-block">
                <span class="relative text-slate-200 font-bold italic"> 
                    INVENTORY!
                </span>
            </span>

        </div>

        <div class="pt-10 text-2xl">

            Place where you can <span class="font-bold">equip</span> <span class="font-bold">skins</span>, <span class="font-bold">hats</span> and <span class="font-bold">themes</span> you bought in the <span class="font-bold">shop</span>!
        
        </div>

        <div class="pt-10 w-full">

            <div class="flex justify-center font-normal">
                
                <a class="border-solid border-2 border-slate-500 text-slate-200 rounded-lg bg-slate-500 text-2xl text-center w-1/3 h-10 shadow-[rgba(0,0,15,0.35)_8px_8px_6px_0px] duration-100 hover:shadow-[rgba(0,0,15,0.35)_6px_6px_6px_0px] hover:translate-y-0.5 hover:translate-x-0.5" href="/apps/hangman/">

                    Skip

                </a>

                <div class="w-1/6"></div>

                <div id="next" class="cursor-pointer border-solid border-2 border-slate-500 rounded-lg bg-slate-200 text-2xl text-center w-1/3 h-10 shadow-[rgba(0,0,15,0.35)_8px_8px_6px_0px] duration-100 hover:shadow-[rgba(0,0,15,0.35)_6px_6px_6px_0px] hover:translate-y-0.5 hover:translate-x-0.5">

                    Next <i class="fa fa-arrow-right" aria-hidden="true"></i>

                </div>

            </div>

        </div>
    
    </div>

    <div class="mb-20 bottom-1/3 right-1/2 text-8xl rotate-[150deg] absolute text-white">
        
        <i class="fa fa-arrow-left-long" aria-hidden="true"></i>

    </div>

</div>

<div id="site5" class="hidden bg-[rgba(0,0,0,0.6)] w-full h-full absolute top-0">

    <div class="ml-20 mb-40 bottom-48 left-80 w-[450px] h-[280px] bg-white rounded-2xl text-center absolute">

        <div class="absolute w-10 h-10 top-2 right-2 text-2xl italic text-xl font-normal">

            5/6

        </div>

        <div class="text-4xl font-bold">

            <span class="before:block before:absolute before:-inset-2 before:-skew-y-[-1.5deg] before:bg-slate-500 relative inline-block">
                <span class="relative text-slate-200 font-bold italic"> 
                    PLAY!
                </span>
            </span>

        </div>

        <div class="pt-10 text-2xl">

            Place where you actually <span class="font-bold">play</span> the <br> <span class="font-bold">game</span>. You can choose between <br> an <span class="font-bold">easy</span> and a <span class="font-bold">hard</span> mode!
        
        </div>

        <div class="pt-10 w-full">

            <div class="flex justify-center font-normal">
                
                <a class="border-solid border-2 border-slate-500 text-slate-200 rounded-lg bg-slate-500 text-2xl text-center w-1/3 h-10 shadow-[rgba(0,0,15,0.35)_8px_8px_6px_0px] duration-100 hover:shadow-[rgba(0,0,15,0.35)_6px_6px_6px_0px] hover:translate-y-0.5 hover:translate-x-0.5" href="/apps/hangman/">

                    Skip

                </a>

                <div class="w-1/6"></div>

                <div id="next" class="cursor-pointer border-solid border-2 border-slate-500 rounded-lg bg-slate-200 text-2xl text-center w-1/3 h-10 shadow-[rgba(0,0,15,0.35)_8px_8px_6px_0px] duration-100 hover:shadow-[rgba(0,0,15,0.35)_6px_6px_6px_0px] hover:translate-y-0.5 hover:translate-x-0.5">

                    Next <i class="fa fa-arrow-right" aria-hidden="true"></i>

                </div>

            </div>

        </div>
    
    </div>

    <div class="mb-40 bottom-1/3 right-1/2 text-8xl rotate-[150deg] absolute text-white">
        
        <i class="fa fa-arrow-left-long" aria-hidden="true"></i>

    </div>

</div>

<div id="site6" class="hidden bg-[rgba(0,0,0,0.6)] w-full h-full absolute top-0 flex justify-center items-center">

    <div class="top-1/3 left-1/2 -translate-x-1/2 mr-[225px] w-[450px] h-[280px] bg-white rounded-2xl text-center absolute">

        <div class="absolute w-10 h-10 top-2 right-2 text-2xl italic text-xl font-normal">

            6/6

        </div>

        <div class="text-4xl font-bold">

            <span class="before:block before:absolute before:-inset-2 before:-skew-y-[-1.5deg] before:bg-slate-500 relative inline-block">
                <span class="relative text-slate-200 font-bold italic"> 
                    FINISH TUTORIAL!
                </span>
            </span>

        </div>

        <div class="pt-10 text-2xl">

            That's it! <span class="font-bold">Play</span> the <span class="font-bold">game</span>, collect <br> <span class="font-bold">coins</span> and <span class="font-bold">buy</span> yourself some nice stuff. <span class="font-bold">Have Fun</span>!
        
        </div>

        <div class="pt-10 w-full">

            <div class="flex justify-center font-normal">
                
                <a class="border-solid border-2 border-slate-500 text-slate-200 rounded-lg bg-slate-500 text-2xl text-center w-1/3 h-10 shadow-[rgba(0,0,15,0.35)_8px_8px_6px_0px] duration-100 hover:shadow-[rgba(0,0,15,0.35)_6px_6px_6px_0px] hover:translate-y-0.5 hover:translate-x-0.5" href="/apps/hangman/">

                    Finish

                </a>

            </div>

        </div>
    
    </div>

</div>